/*Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
html,body{
	font-family: 'Source Sans Pro', sans-serif;
}
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.banner-top {
	position:relative;
}
.logo {
	text-align: center;
	padding:10em 0 0;
}
.logo  a{
	display:block;
}
.logo1  a{
	display:block;
}
.social ul {
	padding: 0;
	margin: 0;
}
.social {
	text-align: center;
	padding:0;
}
.social li {
	display: inline-block;
}
i.star {
	width: 138px;
	height: 138px;
	background: url(../images/img-sprite.png)no-repeat -14px -23px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	/*top: 16em;
	left: 44em;*/
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
i.star:hover{
	background: url(../images/img-sprite.png)no-repeat -140px -150px;
}
i.cam {
	width: 138px;
	height: 138px;
	background: url(../images/img-sprite.png)no-repeat -283px -16px;
	display: inline-block;
	vertical-align: middle;
	position:relative;
	/*top: 31em;
	left: 44em;*/
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
i.cam:hover{
	background: url(../images/img-sprite.png)no-repeat -429px -146px;
}
i.vid {
	width: 138px;
	height: 138px;
	background: url(../images/img-sprite.png)no-repeat -620px -15px;
	display: inline-block;
	vertical-align: middle;
	position:relative;
	/*top:31em;
	left: 59em;*/
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
i.vid:hover{
	background: url(../images/img-sprite.png)no-repeat -747px -136px;
}
i.fb {
	width: 138px;
	height: 138px;
	background: url(../images/img-sprite.png)no-repeat -16px -354px;
	display: inline-block;
	vertical-align: middle;
	position:relative;
	/*top: 15.5em;
	left: 59.2em;*/
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
i.fb:hover{
	background: url(../images/img-sprite.png)no-repeat -146px -495px;
}
i.twt {
	width: 138px;
	height: 138px;
	background: url(../images/img-sprite.png)no-repeat -309px -352px;
	display: inline-block;
	vertical-align: middle;
	position:relative;
	/*top: 9.5em;
	left: 65.2em;*/
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
i.twt:hover{
	background: url(../images/img-sprite.png)no-repeat -442px -483px;
}
i.pp {
	width: 138px;
	height: 138px;
	background: url(../images/img-sprite.png)no-repeat -637px -339px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	/*top: 4em;
	left: 484px;*/
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
i.pp:hover{
	background: url(../images/img-sprite.png)no-repeat -762px -464px;
}
.banner {
	background:url(../images/banner.jpg) no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	min-height: 850px;
}
.banner-info h1 {
	color: #fff;
	font-size: 2.3em;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0;
}
.banner-info {
	text-align: center;
	padding: 5em 0;
}
.banner-info p {
	font-size: 1.2em;
	color: #fff;
	font-weight: 300;
	width: 40%;
	margin: 1em auto;
	text-align: center;
}
a.more {
	text-decoration: none;
	font-size: 1.4em;
	color: #fff;
	padding: 0.4em 1.3em;
	background: #ffa200;
	display: inline-block;
	font-weight: 600;
	border: none;
	text-transform:uppercase;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	border-radius: 0.3em;
}
a.more:hover{
	background:#525252;
}
.banner-bottom {
	background: #efefef;
	padding: 1em 0;
}
.head-nav {
	float: right;
}
.head-nav ul {
	padding: 0;
	margin: 0;
}
.head-nav ul li{
	display: inline-block;
}
.head-nav ul li a{
	position: relative;
	display: inline-block;
	outline: none;
	color: #5a5a58;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.1em;
	margin: 0.8em 1em;
}
.head-nav a:hover,
.head-nav a:focus {
	outline: none;
}
.head-nav ul{
	padding:0;
	margin: 0;
}
*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.head-nav ul li {
	display: inline-block;
	outline: none;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
}
.head-nav ul li a:hover,.head-nav ul li.active a{
	color:#ffa200;
}
ul a:hover,
ul a:focus {
	outline: none;
	color: #ffa200;
	text-decoration: none;
}
.cl-effect-15 a::before {
	color: #adadad;
	content: attr(data-hover);
	position: absolute;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.cl-effect-15 a:hover::before,
.cl-effect-15 a:focus::before {
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	transform: scale(0.9);
	opacity: 0;
}
.logo1 {
	float: left;
	margin: 0.6em 0;
}
i.han {
	width: 48px;
	height: 48px;
	background: url(../images/img-sprite.png)no-repeat -32px -751px;
	display: inline-block;
	vertical-align: middle;
}
i.devi {
	width: 48px;
	height: 48px;
	background: url(../images/img-sprite.png)no-repeat -148px -751px;
	display: inline-block;
	vertical-align: middle;
}
i.pap {
	width: 48px;
	height: 48px;
	background: url(../images/img-sprite.png)no-repeat -260px -751px;
	display: inline-block;
	vertical-align: middle;
}
i.solu {
	width: 48px;
	height: 48px;
	background: url(../images/img-sprite.png)no-repeat -380px -753px;
	display: inline-block;
	vertical-align: middle;
}
i.ranb {
	width: 48px;
	height: 48px;
	background: url(../images/img-sprite.png)no-repeat -498px -751px;
	display: inline-block;
	vertical-align: middle;
}
i.sett {
	width: 48px;
	height: 48px;
	background: url(../images/img-sprite.png)no-repeat -597px -753px;
	display: inline-block;
	vertical-align: middle;
}
.sed-con {
	float: left;
	width: 18%;
}
.sed-data {
	float: left;
	width: 82%;
}
.sed h3 {
	color: #6a6a6a;
	font-size: 1.5em;
	font-weight: 700;
	text-transform: uppercase;
}
.sed h4 {
	color: #ffa200;
	font-weight: 300;
	font-size: 1.6em;
	text-transform: uppercase;
}
.sed p {
	color: #878787;
	font-weight: 400;
	font-size: 1.1em;
	margin: 1em 0;
	line-height: 1.5em;
}
.sed-top {
	background: #efefef;
	padding: 1em 2em;
	margin-right: 1em;
	float:left;
	width:32.5%;
}
.sed-bottom {
	background: #efefef;
	padding: 1em 2em;
	float:left;
	width: 32.5%
}
a.read {
	text-decoration: none;
	font-size: 0.9em;
	color: #fff;
	padding: 0.4em 1.1em;
	background: #ffa200;
	display: inline-block;
	font-weight: 600;
	border: none;
	text-transform: uppercase;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	border-radius: 0.3em;
}
a.read:hover{
	background:#525252;
}
.sed1 {
	padding: 2em 0;
}
.sed {
	padding: 3em 0;
}
.cullam {
	background: #ffab19;
	padding: 3em 0;
}
.cullam-top {
	margin: 1em 0;
}
.cullam h5 {
	color: #fff;
	font-size: 1.3em;
	font-weight: 700;
	text-transform: uppercase;
}
.cullam h6 {
	color: #fff;
	font-size: 1.3em;
	font-weight: 300;
	text-transform: uppercase;
}
.cullam p {
	color: #fff;
	font-size: 1.1em;
	line-height: 1.8em;
}
.cullam-top ul {
	margin: 0;
	padding: 0;
}
.cullam-top ul li a {
	color: #fff;
	padding: 0.5em 0;
	border-bottom: 1px solid #fff;
	text-decoration: none;
	font-size: 1.1em;
	line-height: 2.5em;
}
.cullam-top ul li a span {
	width: 12px;
	height: 12px;
	display: inline-block;
	background: url(../images/arrow.png) no-repeat 0px 0px;
	margin-right: 0.4em;
}
.cullam-top ul li a:hover{
	padding-left:0.2em;
	color:#6a6a6a;
}
.cullam-top ul li {
	display: block;
}
.cullam-left {
	padding: 0;
}
.cula {
	margin-top: 1.5em;
}
.venenatis h3 {
	color: #6a6a6a;
	font-size: 1.8em;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	width: 67%;
	margin: 0 auto;
}
.venenatis h4 {
	color: #ffa200;
	font-size: 1.3em;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
	width: 67%;
	margin: 1em auto;
}
.venenatis {
	padding: 4em 0;
}
/*-- flexisel --*/
#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
	display: none;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}
.nbs-flexisel-inner {
	overflow: hidden;
	margin: 0 auto;
}
.nbs-flexisel-item {
	float: left;
	margin:0px;
	padding:0px;
	cursor: pointer;
	position: relative;
	line-height: 0px;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	positon: relative;
	margin-top:10px;
	margin-bottom: 10px;
	max-width:250px;
	max-height:250px;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
}
.nbs-flexisel-item p{
	padding:10px;
}
.nbs-flexisel-item p a{
	color:#000;
	font-size:1.2em;
}
.nbs-flexisel-item p a:hover{
	color:#6CC372;
}
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
	width: 18px;
	height: 25px;
	position: absolute;
	cursor: pointer;
	z-index: 100;
	margin-top:0em;
}
.nbs-flexisel-nav-left {
	left:-3em;
	background: url(../images/sidearw.png) no-repeat -0px -3px;
}
.nbs-flexisel-nav-right {
	right:-3em;
	background: url(../images/sidearw.png) no-repeat -23px -3px;
}

/*-- flexisel --*/
.footer {
	background: #6a6a6a;
	padding: 2em 0;
}
.footer p {
	color: #ffab19;
	font-size: 1.2em;
	text-transform: uppercase;
	font-weight: 600;
	text-align: center;
}
.footer a {
	color: #fff;
}
.footer a:hover{
	color:#ffab19;
}
/*--about--*/
.about-content,.contact-content,.single{
	padding:2em 0;
}
.about-content h2 {
	color: #ffab19;
	font-size: 2em;
	font-weight: 700;
}
.about-grid2,.about-grid,.who-iam{
	margin-top:2em;
}
.about-grid h3, .about-grid2 h3, .who-iam h3 {
	color: #6a6a6a;
	font-size: 1.4em;
	margin-bottom: 0.5em;
	font-weight: 700;
}
.about-grid p, .about-grid2 p, .who-iam p {
	color: #878787;
	font-size: 1.1em;
	line-height: 1.8em;
	font-weight: 400;
	margin-bottom: 1em;
}
.about-grid2 li {
	list-style-image: url(../images/icon3.png);
	margin: 0 0 10px 20px;
}
.about-grid2 li a {
	color: #9A9598;
	font-size: 1em;
	text-decoration: none;
}
.about-grid2 li a:hover {
	color:#00aeff;
	padding-left: 1em;
}
.man-info{
	width:60%;
	float:left;
	margin-right:5%;
}
.man-pic{
	width:30%;
	float:left;
}
.man-info h4 {
	color: #6a6a6a;
	margin-left: 1em;
	font-size: 1.4em;
	margin-bottom: 0.5em;
	font-weight: 600;
}
.man-info li{
	color: #888888;
	font-size: 1em;
	margin-left:2em;
	padding:5px 0;
}
.achives-content h2 {
	color: #44a4db;
	font-size: 2em;
	font-weight: 600;
}
/*----*/
.about-grid2 ul {
	padding: 0;
}
.contact-info h2 {
	color:#ffab19;
	font-weight: 700;
	font-size: 2em;
	margin-bottom: 0.5em;
}
.contact-info p {
	color: #878787;
	font-size: 1.1em;
	line-height: 1.8em;
	font-weight: 400;
	margin-bottom: 1em;
}
.contact-details form input[type="text"], .contact-details textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #E2E0ED;
	font-size: 1em;
	margin-bottom: 2em;
	color: #616065;
	background: #fff;
	outline: none;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
.contact-details form input[type="text"]:hover, .contact-details textarea:hover{
	border: 1px solid #ffab19;
}
.contact-details textarea {
	resize: none;
	height: 200px;
	width: 100%;
	margin-right: 0%;
}
.contact-details form input[type="text"]:nth-child(2),.contact-details form input[type="text"]:nth-child(4){
	margin-right:0%;
}
.contact-map iframe {
	width: 100%;
	height: 200px;
	margin-top: 0.5em;
}
.company_address {
	padding-left: 3em;
}
.contact-map h4, .company_address h4 {
	color: #ffab19;
	font-size: 1.4em;
	font-weight: 600;
	margin-bottom: 1em;
}
.company_address p {
	font-size: 1.1em;
	color:#888888;
	line-height: 1.8em;
}
.company_address p a{
	color:#7C7C7C;
}
.company_address p a:hover{
	color:#ffab19;
}
.contact-details {
	margin-top: 2em;
}
.contact-map {
	padding:0;
}
.contact-details form input[type="submit"] {
	font-weight: 400;
	color:#ffab19;
	outline: none;
	border: 1px solid #ffab19;
	font-size: 1em;
	padding: 0.6em 3em;
	background:transparent;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.contact-details form input[type="submit"]:hover{
	border: 1px solid #ffab19;
	background:#ffab19;
	color:#fff;
}
/*-- portfolio --*/
.portfolio {
	padding: 2em 0em;
}
.project-section-head h3{
	text-transform: uppercase;
	color: #FFF;
	font-weight: 500;
	font-size: 3.2em;
}	
.project-section-head p{
	color: #FFF;
	font-weight: 400;
	font-size: 1.3em;
}
#portfoliolist .portfolio {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	width: 22.5%;
	display: none;
	float: left;
	overflow: hidden;
	margin: 0em 1em;
}
div#portfoliolist {
	padding: 0px 0px;
}	
.portfolio-wrapper {
	overflow:hidden;
	position: relative !important;
	cursor:pointer;
}
.portfolio img {
	width:100%;
	transition: all 300ms!important;
	-webkit-transition: all 300ms!important;
	-moz-transition: all 300ms!important;
}
.portfolio .label {
	position: absolute;
	width: 100%;
	height:40px;
	bottom:-40px;
}
.portfolio .label-bg {
	background: #22B4B8;
	width: 100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
}
.portfolio .label-text {
	color:#fff;
	position: relative;
	z-index:500;
	padding:5px 8px;
}
.portfolio .text-category {
	display:block;
	font-size:9px;
	font-size: 12px;
	text-transform:uppercase;
}
/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; 
}
.row:after,
.clearfix:after {
  clear: both; 
}
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
#filters {
	margin: 1em 0;
	padding: 0;
	list-style: none;
	text-align: center;
}
#filters li span {
	display: block;
	padding: 0.2em 1.2em;
	text-decoration: none;
	color:#5a5a58;
	cursor: pointer;
	font-size: 1.1em;
	font-weight: 600;
	margin: 0 0.5em;
	text-transform:uppercase;
}
#filters li span.active {
	background:#ffab19;
	color: #F3F3F3;	
	font-weight: 600;
	border-radius:3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
}
#filters li span.filter:hover{
	background:#ffab19;
	color: #FFFFFF;	
	border-radius:3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius:3px;
	-ms-border-radius: 3px;
}
#filters li span.active:hover{
	background: #ffab19;
	color: #F3F3F3;
	border-radius:3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius:3px;
}						  
#filters li {
	display: -webkit-inline-box;
}
.zoom-icon {
	position: absolute;
	opacity: 0;
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
	display: block;
	left: 0;
	top: -152px;
	width: 290px;
	height: 219px;
	background: url(../images/zoom.png) center center no-repeat rgba(255, 171, 25, 0.46);
	cursor: pointer;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
}
.grid_box .zoom-icon {
	top: -50px;
	width: 100%;
	height: 218px;
}
.grid_box a:hover .zoom-icon {
	top: 0;
	opacity: 1;
	filter: alpha(opacity=99); 
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)";
}
.entertain_box{
	margin-bottom:3em;
}
/*-- portfolio --*/
/*-- error-page --*/
.main {
	padding: 12em 0px;
}
.error-404 h1 {
	font-size: 12em;
	font-weight: 700;
	color: #ffab19;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
.error-404 p{
	color: #888;
	margin: 0;
	font-size: 1.2em;
	text-transform: uppercase;
} 
a.b-home{
	background:#ffab19;
	padding:0.8em 3em;
	display:inline-block;
	color:#FFF;
	text-decoration:none;
	margin-top:1em;
}
a.b-home:hover{
	background:#23242e;
	color:#fff;
}
