<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
	<head>
		<title>DataBase</title>
		<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
		<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Lobex Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
		Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
		<script src="js/jquery.min.js"></script>
	</head>
	<body>
		<!-- banner -->
		<div class="banner-bottom">
			<div class="container">
				<div class="logo1">
					<a href="index.html"><img src="images/logo1.png" class="img-responsive" alt="" /></a>
				</div>
				<div class="head-nav">
					<span class="menu"> </span>
					<ul class="cl-effect-15">
						<li><a href="index.html" data-hover="首頁">首頁</a></li>
						<li><a href="about.html" data-hover="瀏覽">瀏覽</a></li>
						<li class="active"><a href="contact.html">評論</a></li>
						<div class="clearfix"> </div>
					</ul>
				</div>
				<div class="clearfix"> </div>
				<!-- script-for-nav -->
				<script>
					$( "span.menu" ).click(function() {
					$( ".head-nav ul" ).slideToggle(300, function() {
						// Animation complete.
					});
					});
				</script>
				<!-- script-for-nav -->
			</div>
		</div>
		<!-- banner -->
		<!-- contact -->
		<div class="container">
			<div class="contact-content">
				<div class="contact-details">
					<form>
						<select name="YourLocation" required/>
							<option value="Taipei">通識中心</option>
							<option value="Taoyuan">語教中心</option>
						</select>
						
						<!-- 這裡用迴圈跑課程名字 -->
						<select name="YourLocation" required/>
							<option value="Taipei">科技史</option>
							<option value="Taoyuan">創意思考</option>
						</select><p><p>
						<input type="text" placeholder="Name" required/>
						<input type="text" placeholder="Email" required/>
						<textarea placeholder="Message"></textarea>
						<input type="submit" value="SEND"/>
					</form>
				</div>
			</div>
		</div>
		<!-- contact -->
		<!-- cullam -->
		
		<!-- cullam -->
		
		<!-- footer -->
		<div class="footer">
			<div class="container">
				<p>Copyrights © 2015 Lobex All rights reserved | Template by <a href="http://w3layouts.com/">W3layouts</a></p>
			</div>
		</div>
		<!-- footer -->
	</html>
</body>