
<!DOCTYPE HTML>
<html>
<head>
<title>選課評價系統 | Course Evaluation System</title>
<link href="{{url_for('static', filename='css/bootstrap.css')}}" rel="stylesheet" type="text/css" media="all">
<link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Lobex Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link rel="stylesheet" href="{{url_for('static', filename='css/flexslider.css')}}" type="text/css" media="screen" />
<script src="js/jquery.min.js"></script>

</head>
<body>
<!-- banner -->
	<div class="banner">
		<div class="banner-top">
       			<div class="logo">
					<a href="{{url_for('browse')}}"><img src="{{ url_for('static', filename='images/logo.png') }}" class="img-responsive" alt="" /></a></div>
                 <div class="social">
                 <ul>
	                 <li><a href="http://www.center.nkfust.edu.tw/course/" Target="_blank"><i class="star"></i></a></li>	<!--歷年課程查詢-->
	                 <li><a href="http://teaching.nkfust.edu.tw/course/login.aspx" Target="_blank"><i class="cam"></i></a></li><!--教學課程網-->
	                 <li><a href="http://aais15.nkfust.edu.tw/selecrsdp/" Target="_blank"><i class="vid"></i></a></li><!--選課系統-->	                 
	                 <li><a href="https://www.facebook.com/nkfust.IM?fref=ts" Target="_blank"><i class="fb"></i></a></li><!--資管系粉絲專頁-->
	                 <li><a href="http://www.nkfust.edu.tw" Target="_blank"><i class="twt"></i></a></li><!--高第一網站-->
             	</ul>
                 <!-- <li><a href="foru0224010@nkfust.edu.tw" arget="_blank"><i class="pp"></i></a></li><!--聯絡我們--> -->
                 </div>
				
				
				<div class="banner-info">
					<h1>選課評價系統</h1>
					<p>Course Evaluation System</p>
					<!-- <a href="#" class="more">Magnaset</a> -->
				</div>
		</div>
	</div>

	<!-- <div class="footer">
		<div class="container">
			<p>Copyrights © 2015 Lobex All rights reserved | Template by <a href="http://w3layouts.com/">W3layouts</a></p>
		</div>
	</div> -->
    </body>
</html>
