<!DOCTYPE HTML>
<html>
<head>
<title>選課評價系統 | Course Evaluation System</title>
<link href="{{url_for('static', filename='css/bootstrap.css', _external=True)}}" rel="stylesheet" type="text/css" media="all">
<link href="{{url_for('static', filename='css/style.css', _external=True)}}" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Lobex Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{url_for('static', filename='css/flexslider.css')}}" type="text/css" media="screen" />
<script src="js/jquery.min.js"></script>

</head>
<body>
<!-- banner -->
	<div class="banner">
		<div class="banner-top">
				<div class="logo">
					<a href="about.html"><img src="{{ url_for('static', filename='images/logo.png') }}" class="img-responsive" alt="" /></a>
				</div>
				<div class="social">
					<ul>
						<li><a href="#"><i class="star"></i></a></li>
						<li><a href="#"><i class="cam"></i></a></li>
						<li><a href="#"><i class="vid"></i></a></li>
						<li><a href="#"><i class="fb"></i></a></li>
						<li><a href="#"><i class="twt"></i></a></li>
						<li><a href="#"><i class="pp"></i></a></li>
					</ul>
				</div>
				<div class="banner-info">
					<h1>選課評價系統</h1>
					<p>Course Evaluation System</p>
					<!-- <a href="#" class="more">Magnaset</a> -->
				</div>
		</div>
	</div>

	<div class="footer">
		<div class="container">
			<p>Copyrights © 2015 Lobex All rights reserved | Template by <a href="http://w3layouts.com/">W3layouts</a></p>
		</div>
	</div>
</html>
</body>